*, *::before  *::after {
    box-sizing: border-box;
}

body {
font-family: 'Cabin', sans-serif;
}

.poem {
    display: block;
    max-width: 1140px;
    text-align: center;
}

.poem-title {
    font-size: 35px;
}

.poem-author {
    font-style: italic;
}

.poem-text {
    font-size: 18px;
}
